<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570929701156-tbtfovaijqgcfcprk405upp18vtj8d83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570929701156-tbtfovaijqgcfcprk405upp18vtj8d83</string>
	<key>API_KEY</key>
	<string>AIzaSyB7wlnD1n_LzXRYBtn0psCgoG26QW9TrRY</string>
	<key>GCM_SENDER_ID</key>
	<string>570929701156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codemobiles.bank.clashlytics</string>
	<key>PROJECT_ID</key>
	<string>myerrorlab1997</string>
	<key>STORAGE_BUCKET</key>
	<string>myerrorlab1997.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570929701156:ios:d3b7ecc692fb7c68</string>
	<key>DATABASE_URL</key>
	<string>https://myerrorlab1997.firebaseio.com</string>
</dict>
</plist>